<main>

    <h1>{{title}}</h1>

    <div class="privateDetails">
        
        <div class="detailPassword"><h2>Firstname : </h2> <h2> {{details.firstName}}</h2></div>
        <br>
        <div class="detailLastname"><h2>Lastname : </h2> <h2> {{details.lastName}}</h2></div>
        <br>
        <div class="detailUsername"><h2>Username : </h2> <h2> {{details.username}}</h2></div>
        <br>
        <div class="detailProfession"><h2>Profession : </h2> <h2> {{details.profession}}</h2></div>
        <br>
        <div class="detailBio"><h2>Bioraphy : </h2> <h2> {{details.bio}}</h2></div>
        
    </div>


</main>